/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */
 
body.mceContentBody.htmleditorTkiInvite {
	min-height: 200px;
	font-size: 90%;
	padding: 10px;
}
body.mceContentBody a.broken {
	background-color: #FF7B71;
	border: 1px red solid;
	color: #fff;
	padding: 1px;
	text-decoration: underline;
}